.hero-unit
  form#company-form.form-horizontal(action="/companies", method="POST")
    fieldset
      legend Create a new Company
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {company: {}})

      .form-actions
        != contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'})
