.hero-unit
  h2 All Companies
  != linkTo('Create a new Company', addCompanyPath, {class: 'btn pull-right'})

div#companies-list
  if companies
    .row.list-item
      .span3
        h4 Name
      .span2
        h4 Source
      .span3
        h4 Status
      .span4
        h4 Notes

    each company in companies
      .row.list-item(id="company-" + company.id)
        .span3
          h4!= linkTo(company.name, companyPath(company.id))
        .span2
          h4 #{company.source}
        .span3
          h4 #{company.status}
        .span4
          h4
            i.icon-list-alt
            = company.notes
